//variables
$color: #cacaca;
$coloroscuro: #393939;

@font-face {
    font-family: "mafisha";
    src: url(../asets/Fonts/Mafisha.otf);
}


* {
    font-family: arsenal;
    text-decoration: none !important;
}
header {
    background-color: $coloroscuro !important; 
}
main {
    background-color: $color;
}
main img {
    width: 500px;
}
.description {
    transform: translateY(58px);
    color: $coloroscuro;
}
.mac {
    margin-top: 300px;
    display: flex !important;
    justify-content: center;
}
.mac img {
    width: 500px;
}
.others {
    margin: 10px;
}
footer{
    background-color: $coloroscuro !important;
}

// Mac air
#mcair{
    width: 600px;
    display: inline-block;
}

.container-prod{
    margin-top: 150px;

}

// Error
#e-cont{
    overflow: hidden;
    height: 100vh;
}
.error{
    font-family: "mafisha" !important   ;
    font-size: 5rem; 
    margin-top: 100px;
}
.container-prev{
    height: 0;
    width: 0;
}
.btn{
    height: 60px;
    width: 60px;
    color: $color;
    background-color: #000;
    border-radius: 0px;
}
.btn:hover{
    background-color: $coloroscuro ;
}

#cables{
    justify-content: center;
    margin-top: 200px;
}